[mcu cp_kcm]
serial: /dev/serial/by-id/usb-kcm_stm32f103xe_53FF6E067188505041210887-if00
restart_method: command
baud: 250000

#[duplicate_pin_override]
#pins: cp_kcm:PC4,cp_kcm:PC5,cp_kcm:PC10, cp_kcm:PC12,cp_kcm:PC11


#[temperature_sensor cp_kcm_temp]
#sensor_type: temperature_mcu
#sensor_mcu: cp_kcm
#min_temp: 0
#max_temp: 300


[gcode_macro T_ALL]
gcode:
    SYNC_EXTRUDER_MOTION EXTRUDER=ex1 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=ex2 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=ex3 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=ex4 MOTION_QUEUE=extruder

[gcode_macro T0]
gcode:
    SYNC_EXTRUDER_MOTION EXTRUDER=ex1 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=ex2 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex3 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex4 MOTION_QUEUE=
	SET_STEPPER_ENABLE STEPPER='extruder_stepper ex1' ENABLE=1
    SET_STEPPER_ENABLE STEPPER='extruder_stepper ex2' ENABLE=0
    SET_STEPPER_ENABLE STEPPER='extruder_stepper ex3' ENABLE=0
    SET_STEPPER_ENABLE STEPPER='extruder_stepper ex4' ENABLE=0
	




[gcode_macro T1]
gcode:
    SYNC_EXTRUDER_MOTION EXTRUDER=ex1 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex2 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=ex3 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex4 MOTION_QUEUE=
	SET_STEPPER_ENABLE STEPPER='extruder_stepper ex1' ENABLE=0
    SET_STEPPER_ENABLE STEPPER='extruder_stepper ex2' ENABLE=1
    SET_STEPPER_ENABLE STEPPER='extruder_stepper ex3' ENABLE=0
    SET_STEPPER_ENABLE STEPPER='extruder_stepper ex4' ENABLE=0
	

[gcode_macro T2]
gcode:

    SYNC_EXTRUDER_MOTION EXTRUDER=ex1 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex2 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex3 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=ex4 MOTION_QUEUE=
	SET_STEPPER_ENABLE STEPPER='extruder_stepper ex1' ENABLE=0
    SET_STEPPER_ENABLE STEPPER='extruder_stepper ex2' ENABLE=0
    SET_STEPPER_ENABLE STEPPER='extruder_stepper ex3' ENABLE=1
    SET_STEPPER_ENABLE STEPPER='extruder_stepper ex4' ENABLE=0


[gcode_macro T3]
gcode:

    SYNC_EXTRUDER_MOTION EXTRUDER=ex1 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex2 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex3 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex4 MOTION_QUEUE=extruder
	SET_STEPPER_ENABLE STEPPER='extruder_stepper ex1' ENABLE=0
    SET_STEPPER_ENABLE STEPPER='extruder_stepper ex2' ENABLE=0
    SET_STEPPER_ENABLE STEPPER='extruder_stepper ex3' ENABLE=0
    SET_STEPPER_ENABLE STEPPER='extruder_stepper ex4' ENABLE=1



    
[extruder_stepper ex1]

extruder: extruder
step_pin: cp_kcm:PB14
dir_pin: !cp_kcm:PB12
enable_pin: !cp_kcm:PB13
microsteps: 16
rotation_distance: 7.8886460365729


# [extruder_stepper ex2]

# extruder:extruder
# step_pin: cp_kcm:PB15
# dir_pin: !cp_kcm: PC6
# enable_pin: !cp_kcm:PC7
# microsteps: 16
# rotation_distance: 7.8897573746164 


# [extruder_stepper ex3]

# extruder:extruder
# step_pin: cp_kcm:PA8
# dir_pin: !cp_kcm:PC9
# enable_pin: !cp_kcm:PC8
# microsteps: 16
# rotation_distance: 7.8059465343747 



# [extruder_stepper ex4]

# extruder:extruder
# step_pin:cp_kcm:PC11
# dir_pin: !cp_kcm:PC10
# enable_pin: !cp_kcm:PC12
# microsteps: 16
# rotation_distance: 7.8429902512632 


